{% extends 'main.html' %} {% block content %}
<!-- <form action="" method="POST">
	<h1>Add the Employee</h1>
	{% csrf_token %} {{form.as_p}}
	<input type="submit" />
</form> -->
<h1>Add Role</h1>
<div class="main-w3layouts wrapper m-0 p-0">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form action="#" method="post">
				{% csrf_token %} {% for field in role %} {{field}} {%endfor %}
				<input type="submit" value="Add" />
			</form>
		</div>
	</div>
</div>

{% endblock content %}
