{% extends 'main.html' %} {% block content %} {% include 'nav.html' %}
<h1>Department</h1>

<div
	class="cards"
	style="display: flex; justify-content: center; gap: 1rem; margin-top: 5rem"
>
	<div class="card" style="width: 33rem">
		<div class="card-body">
			<p class="card-text text-center m-4">Add or View the Departments.</p>
			<a href="{% url 'addDept' %}" class="btn btn-primary">Add Department</a>
			&nbsp; &nbsp; &nbsp; &nbsp;
			<a href="{% url 'viewDepartment' %}" class="btn btn-primary"
				>View Department</a
			>
		</div>
	</div>
	<br />
	<div class="card" style="width: 33rem">
		<div class="card-body">
			<p class="card-text text-center m-4">Add or View the Roles.</p>
			<a href="{% url 'addRole' %}" class="btn btn-primary">Add Role</a>
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			<a href="{% url 'viewRole' %}" class="btn btn-primary">View Role</a>
		</div>
	</div>
</div>

{% endblock content %}
