{% extends 'main.html' %} {% block content %} {% include 'nav.html' %}
<h1>Employee</h1>

<div
	class="cards"
	style="display: flex; justify-content: center; gap: 1rem; margin-top: 5rem"
>
	<div class="card" style="width: 28rem">
		<div class="card-body">
			<p class="card-text text-center">Add the Employees</p>
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			<a href="{% url 'addEmployee' %}" class="btn btn-primary">Add Employee</a>
		</div>
	</div>
	<br />
	<div class="card" style="width: 28rem">
		<div class="card-body">
			<p class="card-text text-center">View the Employees</p>
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

			<a href="{% url 'viewEmployee' %}" class="btn btn-primary"
				>View Employee</a
			>
		</div>
	</div>
</div>

{% endblock content %}
