{% extends 'main.html' %} {% block content %}
<h1 class="m-2">View Department</h1>
<table class="table table-striped table-dark">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th scope="col">Department Name</th>
			<th scope="col">Department Location</th>
		</tr>
	</thead>
	<tbody>
		{% for i in read %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{i.name}}</td>
			<td>{{i.location}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
