{% extends 'main.html' %} {% block content %}
<!-- <h3>Register here</h3>
<hr />
<form action="" method="POST">
	{% csrf_token %} {% for field in form %}
	<div>
		<p>
			{{ field.label }}: <br />
			{{ field }}
		</p>

		{% for error in field.errors %}
		<small style="color: red">{{ error }}</small>
		{% endfor %}
	</div>
	{% endfor %}
	<button type="submit">Register</button>
</form> -->

<!-- main -->
<div class="main-w3layouts wrapper">
	<h1>Register Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form action="#" method="post">
				{% csrf_token %} {% for field in form %} {{field}} {%endfor %}

				<input type="submit" value="SIGNUP" />
			</form>
			<p>
				Already have an Account? <a href="{% url 'login' %}"> Login Now!</a>
			</p>
		</div>
	</div>

	{% endblock content %}
</div>
